body {
    background-color: #f2f2f2;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6b1523;
  }
  
  .login-box {
    background-color: #dabfae;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .logo {
    margin-bottom: 20px;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  h2 {
    color: #6b1523;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #6b1523;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff7f2;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #6b1523;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #4b0e1a;
  }
  
  .register-link {
    margin-top: 20px;
  }
  
  .register-link a {
    color: #6b1523;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }